body {
  margin: 0;
  box-sizing: border-box;
  background: #F5F7FB;
}


.design-shape-1{
  /* position: absolute; */
  width: 297px;
  height: 235px;
  right: -150px;
  top: -75px;
  /* top: 196.73px; */
  transform: rotate(-128.49deg);
  background: #FFFAD1;
  z-index: -100;
  position: fixed;
}

.design-shape-2{
  /* position: absolute; */
  width: 297px;
  height: 235px;
  border-radius: 105px;
  bottom: -80px;
  /* baby - medium */
  background: #DEEBF8;
  left: -100px;
  z-index: -100;
  position: fixed;
}

.home-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10% ;
}
/* .question-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10% ;
} */

.quiz-title{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 60.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin-bottom: 15px;
}


.quiz-description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin-bottom: 65px;
}

.start-quiz-btn{
  width: 193px;
  height: 52px;
  left: 179px;
  top: 314px;

  background: #4D5B9E;
  border-radius: 15px;
  border: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
}

.question{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 19px;
  /* identical to box height */


  color: #293264;
}

.question-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.question-option-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-option{
  width: 150.92px;
  height: 30.65px;
  background: #FFF;
  border-radius: 7.94239px;
  margin: 10px;
  padding-top: 7px;
  text-align:center;
  border:none;
}

.question-option:active{
  background: #D6DBF5;
  /* box-shadow: inset 5px 5px 10px  -3px rgba(0, 0, 0, 0.7); */
}
/* .question-option:selected{
  background: #D6DBF5;
  
} */

.selected-option{
  background: #D6DBF5;
}

.correct{
  background: #94D7A2 !important;
}

.incorrect{
  background: #F8BCBC !important;
}